/* Mobile */
img{
  width: 100%;
}
header h1{
  font-size: 30px;
  color: #fff;
  text-align: center;
  margin: 0;
  padding-top: 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'proxima nova', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-transform: uppercase;
}
p, li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}
header nav{
  display: flex;
  justify-content: center;
}

header
nav
ul{
  display: flex;
  padding-left: 0;
  list-style: none;
}

header
nav
ul
li
a{
  font-family: Montserrat, sans-serif;
  text-decoration: none;
  color: #fff;
  margin: 0 20px 0 0;
}

header
nav
ul
li:last-child
a{
  margin-right: 0;
}

header,
footer{
  background-color: #C7C8C9;
}
footer{
  padding: 25px;
  color: #fff;
}
main a{text-decoration: none;}
main a:link{
  color: skyblue;
}
main a:visited{
  color: skyblue;
}
main a:hover{
  color: blue;
}
main a:active{
  color: darkblue;
}

.container {
  padding: 30px 0;
}
#home{
  background-color: #69A84F;
}
#about{
  background-color: #f8fff8;
}
#portfolio{
  background-color: #444;
}
#portfolio h3,
#portfolio h5,
#portfolio h6,
#portfolio p,
#portfolio ul{
  color: #fff;
}
#portfolio h5{
  font-size: 16px;
}
#portfolio h6{
  margin-bottom: 12px;
  font-size: 14px;
}
#portfolio ul{
  padding-left: 17px;
  margin: 0;
}

.portfolio-item {
  border-top: 1px solid #FFF;
  padding-top: 40px;

}
.portfolio-item:first-child {
  border: none;
  padding-top: 0;
}
#contact{
  background-color: #69A84F;
}
#contact ul {
  list-style: none;
  padding: 0;
}
#contact a,
#portfolio a {
  text-decoration: none;
  color: #000;
  background: #fff;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  display: inline-block;
}

#contact a:hover,
#portfolio a:hover {
  color: #555;
}
#contact a:active,
#portfolio a:active {
  color: #888;
}

.wrapper {
  max-width: 800px;
  margin: 0 auto;
}
.group{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.item{
  flex: 1;
  margin: 10px 25px;
}
.item-double{
  flex: 2;
}

label{
  display: block;
  margin: 15px 0 5px 0;
}

form button{
  margin-top: 15px;
}
input,
textarea{
  width: 100%;
  border: none;
  background-color: #eee;
}
textarea{
  height: 85px;
}
fieldset {
  background: #fff;
  border: none;
}
legend{
  background: #fff;
  padding: 15px;
  margin-left: -12px;
}
.avatar{
  text-align: center;
}
.avatar img {
  margin: 0 auto;
  border: 10px solid #fff;
  border-radius: 50%;
  margin-left: -10px;
}



/*  Desktop  */
@media all and (min-width: 600px){
  header{
      display: flex;
      justify-content: space-between;
      padding: 0 30px;
  }
  header
  h1{
      font-size: 48px;
      margin: 14px 0;
      padding-top: 0;
  }
  header nav{
      margin-top: 8px;
  }
  header
  nav
  ul
  li 
  a:hover{
      color: #bdbdbd
  }
  .group{
    flex-direction: row;
  }
  .portfolio-item {
    border: none;
    padding-top: 0;
}

}